body{
  background-color: rgb(252, 187, 214);
  font-family: sans-serif;
}

p{
  margin: 0;
  padding: 0;
}

h1{

}

input{
  background-color: white;
}

.center{
  text-align: center;
}

.header{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 80px;
  background-color: rgb(252, 187, 214);
}

.menu{
  border-radius: 20px;
  width: 100%;
  height: 300px;
  margin: auto;
  padding: 20px;
  max-width: 400px;
  background-color: white;
}

.menu button{
  border: none;
  border-radius: 20px;
  background-color: rgb(66, 124, 254);
  color: white;
  margin: 10px;
  padding: 10px;
  width: 33%;
  font-size: 13px;
}

.menu button:hover{
  font-size: 15px;
  width: 35%;
}

.menu .grey{
  background-color: rgb(191, 191, 191);
}

.menu .grey:hover{
  font-size: 13px;
  width: 33%;
}

.chat{
  width: 80%;
  height: 70vh;
  margin: auto;
  margin-top: 30px;
  padding: 30px;
  max-width: 400px;
  background-color: white;
  border-radius: 20px;

  overflow-wrap: break-word;
  overflow-x: hidden;
  overflow-x: auto;
  display: flex;
  flex-direction: column-reverse;
}

#dots{
  /*visibility: hidden;*/
  display: none;
  padding-top: 15px;
}


.nav{
  /*position: absolute;
  bottom: 0px;
  left: 0px;*/
  width: 100%;
  height: 60px;
  background-color: rgb(252, 187, 214);
}

.nav button{
  border: none;
  border-radius: 20px;
  background-color: rgb(66, 124, 254);
  color: white;
  margin: 10px;
  padding: 10px;
  font-size: 13px;
}

.nav input{
  width: 70%;
  max-width: 360px;
  padding: 8px;
  border-radius: 10px;
  border: none;
}
